<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="formulario">
        <form method="port" action="/actualizar-cliente">
            <input type="hidden" name="txrid" value="{{dato[0]}}">
            <label for="nombre" ></label>
            <input type="text" id="nombre" name="txtnombre" value="{{date[1]}}">
            <label for="nit" ></label>
            <input type="text" id="nombre" name="txtnit" value="{{date[2]}}">
        </form>
</body>
</html>